@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F0FDF4] text-slate-800 font-sans;
  }
}

/* Custom gorgeous thin light scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f8fafc; /* Slate-50 */
}

::-webkit-scrollbar-thumb {
  background: #a7f3d0; /* Emerald-200 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #34d399; /* Emerald-400 */
}
